<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="angularjs/angular-animate.min.js"></script>
    <script type="text/javascript" src="angularjs/angular.min.js"></script>
    <script type="text/javascript" src="angularjs/angular-route.min.js"></script>


    <!--所有类型-->


    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/nixon.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="css/likeit.css"/>
    <script type="text/javascript" src="/templates/js/jquery-1.8.2.min.js"></script>


</head>



<body ng-app="myapp" ng-controller="mycontroller" ng-init="findsheAll()">

<form class="d-flex align-items-stretch h-100" action="#">
    <tr>
        <th colspan="10">
            <a href="/export.do">导出表格</a>
            <input type="text" placeholder="输入注册代码查询"  ng-model ="book.list"><input type="button" value="查询"  ng-click="mohu()">
            产品名称:<input type="text" name="mohu" placeholder="请输入产品名称">
        </th>
    </tr>
</form>
    <!--导入表格-->
<form action="/importExce.do" method="post" enctype="multipart/form-data">
   <tr>
       <td>
           <input name="file" type="file">
           <input type="submit" value="导入表格">
       </td>
   </tr>
</form>


<table>

    <tr>
        <th>编号</th>
        <th>品牌编号</th>
        <th>随机编号</th>
        <th>品牌名称</th>
        <th>评价</th>
        <th>操作功能</th>
    </tr>
    <tr ng-repeat="book in list">
        <td>{{book.id}}</td>
        <td>{{book.brand_id}}</td>
        <td>{{book.productionunit_id}}</td>
        <td>{{book.brand_name}}</td>
        <td>{{book.brand_describe}}</td>
        <td>
            <input type="submit" onclick="add()" value="添加">
        </td>
    </tr>
    <tr>
        <td colspan="10">
            <button onclick="fenye(1)">首页</button>
            <button onclick="fenye(${pageUtil.prevPage})">上一页</button>
            <button onclick="fenye(${pageUtil.nextPage})">下一页</button>
            <button onclick="fenye(${pageUtil.totalPage})">尾页</button>
        </td>
    </tr>

</table>

<script>


    function add() {
        location.href("toadd");
    }

    //建立模块
    var app=angular.module("myapp",[]);
    //创建控制器(两个参数)
    app.controller("mycontroller",function($scope,$http) {
        $scope.findsheAll=function () {
            $http.get("list.do").success(
                function (response) {
                    console.log(response);
                    $scope.list=response;

                }
            )
        }
    });


/*
    $scope.mohu=function () {
        $http.post('mohu.do',$scope.book).success(
            function(response) {
                console.log(response);
                $scope.list=response;
            }
        );
    }
*/


</script>
</body>
</html>